chapter1/tour01/target
chapter1/tour24/target
chapter1/tour25-iron-gcd/target
chapter1/chapter2/mandelbrot/target
chapter2/mandelbrot/target
chapter3/rust-type/target
chapter4/bollow/target
chapter4/moves/target
chapter4/owner_share/target
chapter5/reference_01/target
chapter6/expression/target
chapter6/loops/target
