chapter1/tour01/target
chapter1/tour24/target
chapter1/tour25-iron-gcd/target
chapter1/chapter2/mandelbrot/target
chapter2/mandelbrot/target
chapter3/rust-type/target
chapter4/bollow/target
chapter4/moves/target
chapter4/owner_share/target
chapter5/reference_01/target
chapter6/expression/target
chapter6/loops/target
chapter7/panic/target
chapter7/result/target
chapter8/module_fern_sim/target
chapter8/make_library/target
chapter8/test_and_documents/target
chapter8/ranges/target
chapter9/struct-with-name/target
chapter9/auto-impl-trait/target
chapter11/example1/target
chapter9
